.wrapper {
    display: flex;
    width: 359px;
    height: 368px;
    background-color: var(--card-color2);
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid var(--white-color);
    padding: 20px;
    border-radius: 5px;
    margin-top: 30px;
}