.wrapper {
    display: flex;
    justify-content: space-between;
}
.leftWrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 141px;
}
.textImage {
    margin-top:122px;
}
.loremText {
    margin-top: 50px;
}
.email {
    margin-top: 50px;
}
.bodyLogo {
    margin-top:72px;
    margin-right: 91px;
    z-index: 1;
    position: absolute;
    left: 833px;
}
.bodyLogoBackground {
    height: 458px;
    background-color: var(--yellowish-color);
    width: 458px;
    margin-top:122px;
    margin-right: 290px;
    border-radius: 50px;
}